---

# - name: Delete existing AME installer ZIP
#   win_file:
#     path: "C:/Users/Public/Downloads/AME2024_en_US_WIN_64.zip"
#     state: absent

# - name: Delete existing extracted AME installer directory
#   win_file:
#     path: "C:/Users/Public/Downloads/AME2024_en_US_WIN_64"
#     state: absent

- name: Copy AME Installer to Public Downloads
  win_copy:
    src: "{{ playbook_dir }}/../files/installers/AME2024_en_US_WIN_64.zip"
    dest: "C:/Users/Public/Downloads/AME2024_en_US_WIN_64.zip"
  args:
    creates: "C:/Users/Public/Downloads/AME2024_en_US_WIN_64.zip"

- name: Extract installer ZIP
  win_unzip:
    src: C:\Users\Public\Downloads\AME2024_en_US_WIN_64.zip
    dest: C:\Users\Public\Downloads\AME2024_en_US_WIN_64
    creates: C:\Users\Public\Downloads\AME2024_en_US_WIN_64

- name: Find installer
  win_find:
    paths: C:\Users\Public\Downloads\AME2024_en_US_WIN_64\AME2024\Build
    patterns: ['*setup*.exe']
    file_type: file
  register: ame_installer

- name: Install AME
  win_package:
    path: "{{ ame_installer.files[0].path }}"
    state: present
    arguments:
      --silent
    
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ project_user }}'
    ansible_become_pass: '{{ project_password }}'