---

# Install Docker Desktop
- name: Download Docker Desktop Installer
  ansible.windows.win_get_url:
    url: "https://desktop.docker.com/win/main/amd64/Docker%20Desktop%20Installer.exe"
    dest: "C:\\Users\\Public\\Downloads\\DockerDesktopInstaller.exe"

- name: Check if Docker Desktop is already installed
  ansible.windows.win_stat:
    path: "C:\\Program Files\\Docker\\Docker\\Docker Desktop.exe"
  register: docker_installed

- name: Install Docker Desktop
  ansible.windows.win_shell: |
    Start-Process -FilePath "C:\Users\Public\Downloads\DockerDesktopInstaller.exe" -ArgumentList "install","--quiet","--accept-license" -Wait -NoNewWindow
  when: not docker_installed.stat.exists

# Install AME