---

- name: Copy AME Installer to Public Downloads
  win_copy:
    src: "AME2024_en_US_WIN_64.zip"
    dest: "C:/Users/Public/Downloads/AME2024_en_US_WIN_64.zip"

- name: Extract installer ZIP
  win_unzip:
    src: C:\Users\Public\Downloads\AME2024_en_US_WIN_64.zip
    dest: C:\Users\Public\Downloads\AME2024_en_US_WIN_64
    creates: C:\Users\Public\Downloads\AME2024_en_US_WIN_64\AME2024

- name: Find installer
  win_find:
    paths: C:\Users\Public\Downloads\AME2024_en_US_WIN_64
    patterns: ['*setup*.exe']
    file_type: file
  register: ame_installer

- name: Install AME
  win_package:
    path: "{{ ame_installer.files[0].path }}"
    state: present
    arguments:
      --silent
    
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ project_user }}'
    ansible_become_pass: '{{ project_password }}'

# - name: Configure AME Webservice
#   win_lineinfile:
#     path: "C:/Program Files/Adobe/Adobe Media Encoder 2024/ame_webservice_config.ini"
#     regexp: '^#?\s*ip'
#     line: "ip = 192.168.50.9"
#     state: present

# - name: Configure AME Webservice
#   win_lineinfile:
#     path: "C:/Program Files/Adobe/Adobe Media Encoder 2024/ame_webservice_config.ini"
#     regexp: '^#?\s*port'
#     line: "port = 8082"
#     state: present