name: zephyr-instance-2

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb-instance-2
    ports:
      - "27012:27017"
    volumes:
      - db-data-instance-2:/data/db
    networks:
      - zephyr-instance-network
      - zephyr-lb-network
    restart: unless-stopped

  zephyr:
    image: zptps/zephyr-desktop:latest
    container_name: zephyr-instance-2
    depends_on:
      - mongodb
    ports:
      - "3003:3001"
    networks:
      - zephyr-instance-network
      - zephyr-lb-network
    restart: unless-stopped
    env_file:
      - .env.instance-2
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - DOCKER_ENV=true
    volumes:
      - ${EXTERNAL_DELIVERY}:${DELIVERY_FOLDER}
      - ${EXTERNAL_STAGED}:${STAGED_FOLDER}
      - ${EXTERNAL_THUMBNAILS}:${THUMBNAIL_FOLDER}
      - ${EXTERNAL_SYNCLOGS}:${SYNCLOG_FOLDER}
      - ${EXTERNAL_RENDER}:${RENDER_FOLDER}
      - ${EXTERNAL_PROXIES}:${PROXY_FOLDER}
      - ${EXTERNAL_DISGUISE_PROXY_FOLDER}:${DISGUISE_PROXY_FOLDER}

networks:
  zephyr-instance-network:
    driver: bridge
  zephyr-lb-network:
    external: true
    name: zephyr-lb-network

volumes:
  db-data-instance-2:
