---

- name: Create folder structure for all project/stage combinations
  include_tasks: create_single_project_folders.yml
  loop: "{{ projects | subelements('stages') }}"
  loop_control:
    loop_var: project_stage_item

- name: Share Stages Stock Content
  win_share:
    name: "{{ stock_share_name }}"
    description: "Folder for project root"
    path: "D:/SS25/Stages/Staged/Delivery"
    read: "Everyone"
    state: present