---

- name: Map network drives for content machines
  include_tasks: map_single_drive.yml
  loop:
    - { hostname: 'content_machine_1', letter: 'M' }
    - { hostname: 'content_machine_2', letter: 'N' }
    - { hostname: 'content_machine_3', letter: 'O' }
    - { hostname: 'content_machine_4', letter: 'P' }
    - { hostname: 'content_machine_5', letter: 'Q' }
    - { hostname: 'content_machine_6', letter: 'R' }
    - { hostname: 'content_machine_7', letter: 'S' }
  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ project_user }}'
    ansible_become_pass: '{{ project_password }}'
