---

- name: Map network drives for content machines
  block:
    - name: Remove any existing drive mapping
      win_mapped_drive:
        letter: "{{ item.letter }}"
        state: absent

    - name: Save the network credentials
      win_credential:
        name: "{{ hostvars[item.hostname]['ansible_host'] }}"
        type: domain_password
        username: '{{ project_user }}'
        secret: '{{ project_password }}'
        state: present

    - name: Map the drive
      win_mapped_drive:
        letter: "{{ item.letter }}"
        path: "\\\\{{ hostvars[item.hostname]['ansible_host'] }}\\{{ hostvars[item.hostname]['location_name'] }} Delivery"
        state: present
        label: "{{ hostvars[item.hostname]['location_name'] }} Delivery"

  loop:
    - { hostname: 'content_machine_1', letter: 'M' }
    - { hostname: 'content_machine_2', letter: 'N' }
    - { hostname: 'content_machine_3', letter: 'O' }
    - { hostname: 'content_machine_4', letter: 'P' }
    - { hostname: 'content_machine_5', letter: 'Q' }
    - { hostname: 'content_machine_6', letter: 'R' }
    - { hostname: 'content_machine_7', letter: 'S' }

  vars:
    ansible_become: true
    ansible_become_method: runas
    ansible_become_user: '{{ project_user }}'
    ansible_become_pass: '{{ project_password }}'
